.qNa chatbot-bubble {
    /*css for l8r*/
    color:white !important;
    width:90%;
    padding-bottom:3px;
    padding:3px;
  
}
.question {
    color: var(--DF_secondary);
padding: 6px;
}
.link {
    margin-bottom: 5px;
    background-color: var(--DF_accent2);
    padding: 3px;
display: inline-block;
border-radius: 3px;
font-size: small;
border: var(--DF_secondary) 1px solid;
    
}