.Home {
  /*  height:100vh;*/
  display:flex;
  border-top: var(--DF_border1);
  padding-bottom:20px;
  }

.header {
  height:15vh;
  width:100%;
}

.logo {
  padding:10px;
  float: right; 
  width:16%;
}

@media  (max-width: 768px) {
  /* For mobile phones: */
  .logo {
    width:50%;
  }
}
