/*formatting here when we get to that part*/
.chatbot-bubble {
    background-color:"#efefef";
    padding:10px;
}

.options-container {
    overflow: visible;
}

.CBot {
    float:left;
    overflow: visible;
    width:100%
}
.react-chatbot-kit-chat-container {
    overflow: visible;
}

.react-chatbot-kit-chat-message-container {
    overflow: visible;
}
