.welcome {
  /*  display:flex;
    flex:1;
    word-wrap: break-word;
    visibility: collapse;*/
    padding:10px;
   /* width:530px;
    left: 150%;
    position:inherit;*/
    font-size: smaller;
    border-top: var(--DF_border1)
}
@media  (max-width: 768px) {
  /* For mobile phones: */
}
