.DocPage {
    max-height:100vh !important;
    overflow-y:hidden;
}

.DocSummary {
    width:40%;
    float:right;
    
}
.FullText {
    width:50%;
    float:left;
    white-space: pre-wrap;
    
}

.Both {
    overflow-y:scroll;
    border: var(--DF_border1);
    margin:5px;
    max-height:90vh;
    padding:10px;
}

@media  (max-width: 768px) {
    /* For mobile phones: */
    .DocPage {
        overflow-y: scroll;
    }
    .Both {
        width:94%;
    overflow-y: scroll;
        overflow-x:hidden;
     /*   min-50vwidth:50vh;*/
        max-height:60vh;
    }
  }