.DocPage {
    max-height:100vh !important;
    overflow:auto;
}

.DocSummary {
    width:40%;
    float:right;
    
}
.FullText {
    width:55%;
    float:left;
    white-space: pre-wrap;
}

.Both {
    overflow-y: scroll;
    
    border:black solid 1px;
    margin:5px;
    max-height:90vh;
}

